@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
    --main-color: #2e363e;
    --black-color: #000000;
    --white-color: #ffffff;
    --gray-color: #a6aeb6;
    --price-color: #434b53;

    --bg-color-blue: #024c68;
    --bg-color-blue-light: #0776a0;
    --bg-color-yellow: #ffb600;

    --font-family-main: 'Lato', sans-serif;

    --font-weight-regular: 400;
    --font-weight-bold: 700;

    --font-size-light: 21px;
    --font-size-medium: 24px;
    --font-size-height: 28px;
    --font-size-h4: 32px;
    --font-size-h3: 36px;
    --font-size-h2: 48px;
    --font-size-h1: 58px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* общие классы */

.wrapper {
    width: 61.35%;
    margin: 0 auto;
}

.universal-h2 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-h2);
    line-height: 133%;
    text-align: center;
    padding-bottom: 36px;
}

body {
    font-family: var(--font-family-main);
}

header {
    color: var(--white-color);
}

/* секция heading */

.heading {
    padding-top: 43px;
    padding-bottom: 56px;
    background-color: var(--bg-color-blue);
}

.blocks__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info__heading {
    display: flex;
    gap: 15px;
}

.phone-grhWork__info {
    display: flex;
    flex-direction: column;
}

.phone {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-medium);
    line-height: 152%;
}

.grhWork {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-light);
    line-height: 150%;
}

.basket-buy__heading {
    display: flex;
    align-items: center;
    gap: 13px;

    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-height);
    line-height: 143%;
}

/* секция heading-content */

.heading-content {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../img/pizza-2.jpeg);
    background-size: cover;
}

.blocks__heading-content {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-left: 2.6%;
}

.block-text__blocks {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    text-shadow: 3px 3px 0px #000;
}

.block-text__blocks h1 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-h1);
    line-height: 60px;
    margin: 0;
}

.block-text__blocks h4 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-h4);
    line-height: 143%;
}

.btn__heading-content {
    padding: 30px 50px;
    background-color: var(--bg-color-yellow);
    color: var(--black-color);
    border-radius: 5px;
    transition: .3s;
    display: inline-block;

    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-light);
    line-height: 152%;
}

.btn__heading-content:hover {
    background-color: var(--bg-color-blue-light);
    color: var(--white-color);
}

/* секция pizza */

.pizza {
    padding-top: 85px;
    padding-bottom: 100px;
}

.blocks__pizza {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

/* .blocks__pizza h2 {
    text-align: center;
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-bold);
    line-height: 133%;
    color: var(--black-color);
} */

.flex-container__pizza {
    display: flex;
    /* gap: 20px; */
    justify-content: space-between;
    color: var(--main-color);
    flex-wrap: wrap;
}

.flex-item__flex-container {
    width: 32.25%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 2px 8px 16px rgba(0, 0, 0, 0.3);
}

.flex-item__flex-container img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.text-block__flex-item {
    padding: 50px 44px;
    /* border: 1px solid #f2f6fa; */
}

.text-block__flex-item h4 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-height);
    line-height: 143%;
    margin-bottom: 12px;
}

.text-block__flex-item p {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-light);
    line-height: 150%;
    margin-bottom: 24px;
}

.price__flex-item {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-medium);
    line-height: 150%;
    color: #434b53;
}

.btn__flex-item {
    padding: 20px 35px;
    background-color: var(--bg-color-blue-light);
    color: var(--white-color);
    border-radius: 8px;
    cursor: pointer;
    border: none;
    transition: .3s;

    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-light);
    line-height: 152%;
}

.btn__flex-item:hover {
    background-color: var(--bg-color-yellow);
    color: var(--black-color);
}

/* секция about-us */

.about-us {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 1920px;
    height: 614px;
}

.blocks__about-us {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

/* .blocks__about-us h2 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-h2);
    line-height: 133%;
    text-align: center;
} */

.flex-container__about-us {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.flex-item__about-us {
    width: 27.84%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.flex-item__about-us img {
    margin-bottom: 24px;
}

.flex-item__about-us h4 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-height);
    margin-bottom: 10px;
    line-height: 143%;
}

.flex-item__about-us p {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-light);
    line-height: 150%;
}

/* секция reviews */

.reviews {
    padding: 100px 0px;
    width: 1920px;
    height: 1166px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.blocks__reviews {
    /* display: flex;
    flex-direction: column;
    gap: 100%; */
}

.block-slider__reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 70px;
    width: 1180px;
    height: 802px;
    margin-top:64px;
}

/* слайдер */

.itcss_item-feedback {
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 70px 143px;
    gap: 54px;
    width: 1180px;
    height: 666px;
    background: #FFFFFF;
    border: 2px solid #FFB600;
    /* Тень */
    box-shadow: 2px 8px 16px rgba(194, 198, 208, 0.06);
    border-radius: 5px;
}

.itcss_item-feedback__block-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 460px;
    height: 526px;
}

.itcss_item-feedback__block-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 30px;
    width: 380px;
    height: 498px;
}

.itcss_item-feedback__block-text_header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 460px;
    height: 156px;
}

.itcss_item-feedback__block-text_header-quotes{
    width: 40px;
    height: 40px;
    opacity: 0.9;
}

.itcss_item-feedback__block-text_header h4 {
    width: 460px;
    height: 92px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 143%;
    color: #2E363E;
}

.itcss_item-feedback__block-text_main p {
    width: 430px;
    height: 346px;
    color: #2E363E;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 170%;
}

.itcss_item-feedback__block-img img {
    box-sizing: border-box;
    width: 380px;
    height: 380px;
    background: #F2F6FA;
    border: 2px solid #FFB600;
    border-radius: 1000px;
}

.itcss_item-feedback__block-img-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 6px;
    width: 191px;
    height: 88px;
}

.feedback__user-name {
    width: 191px;
    height: 41px;
    color: #2E363E;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 143%;
    /* or 40px */
    text-align: center;
}

.feedback__user-city {
    width: 120px;
    height: 41px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 170%;
    /* identical to box height, or 41px */
    text-align: center;
    color: #A6AEB6;
}

/* кнопки слайдера */

.feedback__block-arrows {
    width: 155.86px;
    height: 66px;
    /* background-color: red; */
    margin: 70px auto 100px;
}

.feedback__arrow-prev{
    width: 66px;
    height: 66px;
}
.feedback__arrow-prev {
    display: block;
    float:left;
    background: #0776A0;
    border-radius: 100px;
    width: 66px;
    height: 66px;
}

a.itcss__control {
    display: block;
    width: 66px;
    height: 66px;
}

a.itcss__control_prev {
    background-image: url(/img/icon-arrow-left.svg);
    float:left;
}

a.itcss__control_next {
    background-image: url(/img/icon-arrow-right.svg);
    float:right;
}

a.itcss__control_prev:hover {
    background-image: url(/img/icon-arrow-left-yellow.svg);
}

a.itcss__control_next:hover {
    background-image: url(/img/icon-arrow-right-yellow.svg);
}

/* Отключение индикаторов для слайдера */
.itcss__indicators {
    display: none;
}


/* секция set-reviews */

.set-reviews {
    padding-top: 100px;
    padding-bottom: 106px;
    height: 801px;
}

.flex-container__set-reviews {
    display: flex;
    justify-content: space-between;
}

.flex-item-text__set-reviews {
    display: flex;
    flex-direction: column;

}

.flex-item-text__set-reviews h2 {
    text-align: left;
    flex-direction: column;
}

.list-reasons {
    margin-bottom: 50px;
    width: 77.34%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 32px;
}

.list-reasons li {
    color: var(--bg-color-yellow);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-medium);
    line-height: 150%;
}

.list-reasons li span {
    color: var(--main-color);
}

.button__set-reviews {
    width: 278px;
    height: 97px;
    background: #0776A0;
    border-radius: 8px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 152%;
    color: #FFFFFF;
}

.button__set-reviews:hover {
    background: #FFB600;
    color: #000000;
}

.flex-item-img__set-reviews img {
    width: 600px;
    height: 570px;
    border-radius: 10px;
    margin-top: 20px
}

.list-reasons li::marker{
    font-size: 40px;
}

/* секция contacts */

.contacts {
    width: 1920px;
    height: 783px;
}

.flex-container__contacts{
    height: 783px;
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.flex-container__contacts-map{
    width: 500px;
    height: 608px;
    border: 5px dashed #0776A0;
    border-radius: 10px;
}

.flex-container__contacts-map:hover{
    /* width: 500px;
    height: 602px; */
    border: 5px dashed #FFB600;
    border-radius: 10px;
}

.flex-container__contacts-information{
    width: 580px;
    height: 624px;
} 

.flex-container__contacts-information h2{
    text-align: start;
}

.flex-container__contacts-information h4{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 143%;
    color: #2E363E;
}

.icon-phone-black {
    margin-bottom: 26px;
}

.flex-container__contacts-information__email{
    width: 500px;
    height: 167px;
    padding-right: 8px;
}

.icon-email{
    margin-top: 48px;
    margin-bottom: 28px;
}

.contacts_information{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
}

.contacts_information__adress{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 150%;
    color: #0776A0;
    text-decoration-line: underline;
}

/* секция footer(подвал) */

.footer {
    width: 1920px;
    height: 144px;
    background: #FFFFFF;
}

.footer__copyright {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 150%;
    color: #7E868E;
    width: 523px;
    height: 32px;
    float:left;
    margin-top: 55px;
}

.flex-container__footer__social-links {
    width: 139px;
    height: 48px;
    display: flex;
    align-items: center;
    float:right;
    justify-content: space-between;
    margin-top: 55px;
}

.social-links__vkontakte, 
.social-links__instagram{
    width: 48px;
    height: 48px;
    padding: 6px;
}
/* 
.social-links__vkontakte a,
.social-links__instagram a{
    width: 36px;
    height: 36px;
} */

.container-social-links__vkontakte{
    background-image: url(/img/icon-vk.svg);
    transition: .3x;
    width: 36px;
    height: 36px;
}

.container-social-links__instagram{
    background-image: url(/img/icon-instagram.svg);
    width: 36px;
    height: 36px;
}

.flex-container__footer__social-links a{
    padding:6px;
}

.container-social-links__vkontakte:hover {
    background-image: url(/img/yellow-vk.svg);
    width: 36px;
    height: 36px;
}

.container-social-links__instagram:hover {
    background-image: url(/img/yellow-inst.svg);
    width: 36px;
    height: 36px;
}